footer#main-footer {
	width: 100%;
    height: 200px;
    background: #0b2579;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	display: flex;
	justify-content: left;
    align-items: center;
    padding-left: 5%;
}

